# 5 STRUCTURED TYPES, MUTABILITY, AND HIGHERORDER FUNCTIONS

The programs we have looked at thus far have dealt with three types of objects: `int,float, and str`. 

The numeric types `int` and `float` are scalar(标量) types. That is to say, objects of these types have `no accessible internal structure`. 

In contrast, `str` can be thought of as a `structured, or non-scalar`, type. One can use indexing to extract individual characters from a string and slicing to extract substrings.

In this chapter, we introduce `four additional structured types`. 

* One, <b style="color:blue">tuple</b>(元组）, is a rather simple generalization of `str`. 

* The other three—<b style="color:blue">list</b>(列表）

* **range**</b>   and 

* <b style="color:blue">dict</b>(字典） —are more **interesting**. 

We also return to the topic of <b style="color:blue">functions</b> with some examples that illustrate the utility of being able to treat functions in the same way as other types of objects.

## 5.1 Tuples

Like `strings`, tuples are <b style="color:blue">immutable ordered sequences</b> of elements. 

The difference is that the elements of a tuple need <b style="color:blue">not be characters</b>. The individual elements can be of
<b style="color:blue">any type</b>, and need <b style="color:blue">not be of the same type</b> as each other


Literals of type `tuple` are written by enclosing a <b style="color:blue">comma-separated ,</b> list of elements <b style="color:blue">within parentheses( )</b>

In [ ]:
t1 = () # empty tuple

t2 = (1, 'two', 3) #  1 any type; 2 not be of the same type as each other.
student=('Name',22)
print(t1)
print(t2)
print(student)

Looking at this example, you might naturally be led to believe that the tuple containing the `single value 1` would be written `(1)`. But, to quote [Richard Nixon](https://en.wikipedia.org/wiki/Richard_Nixon), “that would be wrong.”

Since parentheses`( )` are used to `group expressions`,<b  style="color:blue">(1)</b> is `merely` a verbose way to write the `integer 1`.

In [2]:
a=(1)
a

1

In [3]:
b=(a+2)
b

3

* To denote <b  style="color:blue">the singleton tuple</b> containing this value, we write <strong  style="color:red">(1 ,)</strong>

#### Almost everybody who uses Python has at one time or another accidentally omitted that annoying `comma`.

In [ ]:
only1=('10+1')

tsingleton=('10+1',)  # comma-separated 

print(only1)
print(type(only1))

print('\nThe singleton tuple containing this value')
print(tsingleton)
print(type(tsingleton))

**Repetition** can be used on tuples. For example, the expression `3*('a', 2)` evaluates to `('a', 2, 'a', 2, 'a', 2).`

In [5]:
3*('a', 2)

('a', 2, 'a', 2, 'a', 2)

<b>Like string</b> ,Tuples can be <b style="color:blue">concatenated</b>, <b style="color:blue">indexed</b>, and <b style="color:blue">sliced</b>.(indexing <strong style="color:blue">starts at 0</strong>)

In [6]:
t1 = (1, 'two', 3)

t2 = (t1, 3.25)   #  any type,tuples can contain tuples

print('t2=',t2)

print('t1+t2=',t1 + t2)  # + concatenated

print('(t1 + t2)[3]=',(t1 + t2)[3]) # [3] indexed tuple :as always in Python, indexing starts at 0

print('(t1 + t2)[2:5]=',(t1 + t2)[2:5]) # [2:5] sliced

t2= ((1, 'two', 3), 3.25)
t1+t2= (1, 'two', 3, (1, 'two', 3), 3.25)
(t1 + t2)[3]= (1, 'two', 3)
(t1 + t2)[2:5]= (3, (1, 'two', 3), 3.25)

The second assignment statement binds the name t2 to a tuple that contains the tuple to which t1 is bound and the floating point number 3.25. This is possible because a tuple, like everything else in Python, is an object, so tuples can contain tuples.
Therefore, the first print statement produces the output,
```python
((1, 'two', 3), 3.25)
```

The second print statement prints the value generated by concatenating the values bound to t1 and t2, which is a tuple with five elements. It produces the output
```python
(1, 'two', 3, (1, 'two', 3), 3.25)
```
The next statement selects and prints the fourth element of the concatenated tuple (as `always` in Python, `indexing starts at 0`), and the statement after that creates and prints a slice of that tuple, producing the output
```python
(1, 'two', 3)
(3, (1, 'two', 3), 3.25)
```

A <b  style="color:blue">for</b> statement can be used to <b style="color:blue">iterate over the elements</b> of a `tuple`.

In [13]:
t1 = (1, 'two', 3)
for e in t1:
    print(e)

1
two
3

In [12]:
def intersect(t1, t2):
    """Assumes t1 and t2 are tuples
        Returns a tuple containing elements that are in
        both t1 and t2"""
    result = ()
    for e in t1:
        if e in t2:
            result += (e,)
    return result

t1 = (1, 'two', 3)
t2 = (1,2)
result=intersect(t1, t2)
print(result)

(1,)

In [15]:
def findDivisors (n1, n2):
    """Assumes that n1 and n2 are positive ints
       Returns a tuple containing all common divisors(公约数) of n1 & n2"""
    
    divisors = () #the empty tuple
    
    for i in range(1, min (n1, n2) + 1):
        if n1%i == 0 and n2%i == 0:      # common divisors
            divisors = divisors + (i,)  # Note：1) comma-（i,)-Tuple; 2) +  concatenated 
    
    return divisors

divisors = findDivisors(20, 100)
print('common divisors:',divisors)

total = 0
#  iterate over the elements of a tuple :in 
for d  in  divisors:
    total += d 

print('sum: ',total)

common divisors: (1, 2, 4, 5, 10, 20)
sum:  42

### 5.1.1 Sequences and Multiple Assignment

If you know the <b>length of a sequence</b> (e.g., a tuple or a string),

it can be convenient to use Python’s <b>multiple assignment</b> statement to extract the individual elements.

In [ ]:
x, y ,z= (3, 4,5)
a, b, c = 'xyz'

print('x=',x,' y=',y)
print('a=',a,' b=',b,' c=',c)

This mechanism is particularly convenient when used in <b>conjunction with functions that return `fixed-size` sequences</b>.

In [16]:
def findExtremeDivisors(n1, n2):
    """Assumes that n1 and n2 are positive ints
       Returns a tuple containing the smallest common  divisor > 1 and 
         the largest common divisor of n1 and n2.
         If no common divisor, returns (None, None)
    """
    minVal, maxVal = None, None # multiple assignment statement
    for i in range(2, min(n1, n2) + 1):
        if n1%i == 0 and n2%i == 0:
            if minVal == None or i < minVal:
                minVal = i
            if maxVal == None or i > maxVal:
                maxVal = i
    return (minVal, maxVal)  #   return fixed-size sequences:tuple

In [17]:
# multiple assignment statement conjunction with functions that return fixed-size sequences.
minDivisor, maxDivisor = findExtremeDivisors(100, 200)  
print('minDivisor=',minDivisor)
print('maxDivisor=',maxDivisor)

minDivisor= 2
maxDivisor= 100

In [ ]:
def findExtremeDivisors(n1, n2):
    """Assumes that n1 and n2 are positive ints
       Returns a tuple containing the smallest common
       divisor > 1 and the largest common divisor of n1
       and n2
    """
    minVal, maxVal = None, None #multiple assignment statement
    for i in range(2, min(n1, n2) + 1):
        if n1%i == 0 and n2%i == 0:
            if minVal == None or i < minVal:
                minVal = i
            if maxVal == None or i > maxVal:
                maxVal = i
    
    divisors = (minVal,maxVal)
    return  divisors  #   return fixed-size sequences

In [ ]:
# tuple 
divisors = findExtremeDivisors(100, 200)  
print(divisors)
print('minDivisor=', divisors[0])
print('maxDivisor=', divisors[1])

## 5.2 Ranges

Like `strings` and `tuples`, **ranges** are `immutable`. The `range` function returns an object of type `range`. As stated in [Section 3.2](./Lecture1-3-03_SOME_SIMPLE_NUMERICAL_PROGRAMS.ipynb) the range function takes three integer arguments:`start, stop, and step`, and returns the progression of integers `start, start + step, start +2*step, etc`. 

If step is positive, the last element is the largest integer start + i*step less than stop. If step is negative, the last element is the smallest integer start + i*step greater than stop. 

If only two arguments are supplied, a step of 1 is used. If only one argument is supplied, that argument is the stop, start defaults to 0, and step defaults to 1.


All of the operations on tuples are also available for ranges, `except for concatenation and repetition`. For example, `range(10)[2:6][2]` evaluates to 4. 
```
range(10)->[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
range(10)[2,6]->[ 2, 3, 4, 5]
range(10)[2,6][2]->4
```

In [18]:
range(10)[2:6][2]

4

When the `==` operator is used to compare objects of type range, it returns `Tru`e if the two ranges represent the `same` **sequence** of integers ,not the same `range(start, stop, step)`. For example, `range(0, 7, 2) == range(0, 8, 2)` evaluates to True.

In [19]:
range(0, 7, 2) == range(0, 8, 2)

True

In [2]:
print([ i for i in range(0, 7, 2)])

[0, 2, 4, 6]

In [3]:
print([ i for i in range(0, 8, 2)])

[0, 2, 4, 6]

However, `range(0, 7, 2) == range(6, -1, -2)` evaluates to False because though the two ranges contain the same integers, they occur in a `different order`.

In [30]:
range(0, 7, 2) == range(6, -1, -2)

False

In [32]:
print([ i for i in range(6, -1, -2)])

[6, 4, 2, 0]

Unlike objects of type tuple, the amount of `space occupied` by an object of type range is `not proportional to its length`. Because a range is fully defined by its `start, stop,and step` values; it can be stored in **a `small` amount of space**. 

The most common use of `range` is in **for** loops, but objects of type `range` can be used anywhere **a sequence of integers** can be used.

## 5.3 Lists and Mutability

Like a tuple,a **list** is an <b>ordered sequence</b> of values, where each value is <b>identified by an index </b>. 

The syntax for expressing literals of type list is similar to that used for tuples; 

the difference is that we use <b>square brackets []</b> rather than parentheses(). 

So, for example, the code,

In [36]:
L = ['I did it all', 4, 'love']  # square brackets []

for i in range(len(L)):
    print(L[i])

for li in L:
    print(li)

I did it all
4
love
I did it all
4
love

The <b>empty list</b> is written as <b>[]</b>

<p> <b>Singleton lists</b> are written <b>without comma</b> before the closing bracket.

In [ ]:
Lempty=[]   #empty list

Lonly1=[10] # singleton list: without comma

print('empty list:',Lempty)

print(type(Lonly1))
print(Lonly1)

Occasionally, the fact that Square brackets  $[]$ are used for 

* 1 **literals** of type list

* 2 **indexing** into lists, and

* 3 **slicing** lists

can lead to some `visual confusion`. 

For example:the expression `[1,2,3,4][1:3][1]`, which evaluates to 3, uses the square brackets in three different ways.

In [37]:
print([1,2,3,4])  #  literals of typel ist

print([1,2,3,4][1:3]) # slicing list

print([1,2,3,4][1:3][1]) # licing list,then indexing into sliced list

[1, 2, 3, 4]
[2, 3]
3


This is rarely a problem in practice, because most of the time lists are `built incrementally` rather than `written as literals`.

----

### lists are` mutable`

Lists differ from tuples in one hugely important way:

<b style="color:blue">lists are mutable</b>

**tuples and strings** are `immutable`

There are many operators that can be used to create objects of these immutable types, and variables can be bound to objects of these types.
But objects of `immutable` types **cannot be modified `after they are created`**. 


On the other hand, objects of type `list`  **can be modified `after they are created`**.

The `distinction` between <b>mutating an object</b> and <b>assigning an object to a variable</b> may, at first, appear subtle. However, if you keep repeating the mantra, 

“In Python a variable is merely a name, i.e., a label that can be attached to an object,” 

it will bring you clarity. When the statements

In [38]:
Techs = ['MIT', 'Caltech']
Ivys = ['Harvard', 'Yale', 'Brown']

are executed, the interpreter creates two new lists and binds the appropriate variables to them, as pictured in Figure 5.1.

![ Figure 5.1](./img/fig51.PNG)

The assignment statements

In [39]:
Univs = [Techs, Ivys]

Univs1 = [['MIT', 'Caltech'], ['Harvard', 'Yale', 'Brown']]

also create new lists and bind variables to them. The elements of these lists are themselves lists. The three print statements

In [40]:
print('Univs =', Univs) 
print('Univs1 =', Univs1)
print(Univs == Univs1)

Univs = [['MIT', 'Caltech'], ['Harvard', 'Yale', 'Brown']]
Univs1 = [['MIT', 'Caltech'], ['Harvard', 'Yale', 'Brown']]
True

produce the output

It appears as if `Univs` and `Univs1` are bound to <b style="color:blue">the same value</b>. 

But `appearances` can be `deceiving`. 

As the following picture illustrates, `Univs` and `Univs1` are bound to quite **different** values.
![fig52](./img/fig52.PNG) 

That `Univs` and`Univs1` are bound to different objects can be verified using the built-in Python function 

* <b style="color:blue">id</b>, which returns  <b style="color:blue">a unique integer identifier</b> for an object. 

This function allows us to **test for `object equality`**. When we run the code

In [41]:
print(Univs == Univs1) # test value equality

print(id(Univs) == id(Univs1)) #test object equality

print('Id of Univs =', id(Univs))

print('Id of Univs1 =', id(Univs1))

True
False
Id of Univs = 2331358073800
Id of Univs1 = 2331357969992

The **elements of `Univs`** are **not copies of the lists** to which `Techs` and `Ivys` are bound, but are rather the `themselves`.

The **elements of `Univs1`** are lists that contain <b>the same `elements`</b> as the lists in `Univs`,but they are **not the same `lists`**.

We can see this by running the code

In [42]:
print('Ids of Techs, Univs[0]', id(Techs), id(Univs[0]))

print('Ids of Ivys, Univs[1]', id(Ivys), id(Univs[1]))

print('Ids of Univs[0] and Univs[1]', id(Univs[0]), id(Univs[1]))

print('Ids of Univs1[0] and Univs1[1]', id(Univs1[0]), id(Univs1[1]))

Ids of Techs, Univs[0] 2331358076744 2331358076744
Ids of Ivys, Univs[1] 2331358064840 2331358064840
Ids of Univs[0] and Univs[1] 2331358076744 2331358064840
Ids of Univs1[0] and Univs1[1] 2331357246152 2331357777736

### Why does this matter? It matters because lists are mutable

Consider the code

In [43]:
# Techs = ['MIT', 'Caltech']

Techs.append('RPI') #through the variable Techs 
print(Techs)

['MIT', 'Caltech', 'RPI']

The **append** method has **a side effect.** 

* Rather than create a `new` list, it **`mutates the existing` list Techs** by adding a new element,`the string 'RPI'`, to the end of it.

The Figure depicts the state of the computation after append is executed.
![fig53](./img/fig53.PNG)

The object to which **Univs**is bound still contains the `same two lists`, but the `contents` of
one of those lists has been `changed`. Consequently, the print statements

In [44]:
print('Univs =', Univs)
print('Univs1 =', Univs1)

Univs = [['MIT', 'Caltech', 'RPI'], ['Harvard', 'Yale', 'Brown']]
Univs1 = [['MIT', 'Caltech'], ['Harvard', 'Yale', 'Brown']]

What we have here is something called **aliasing**(别名). 

There are `two distinct paths` to the same list object. 

One path is through the variable `Techs` and the other through the `first element` of the list object to which `Univs` is bound. 

One can `mutate` the object via `either` path, and the effect of the mutation will be visible through both paths. 

This can be `convenient`, but it can also be `treacherous`. 

* **Unintentional aliasing leads to programming errors that are often enormously hard to track down**.

As with tuples, a **for** statement can be used to iterate over the elements of a list. For example

In [45]:
for e in Univs:
    print('Univs contains', e) # list 
    print('   which contains')
    for u in e:
        print('    ', u)   # the elements of a list.

Univs contains ['MIT', 'Caltech', 'RPI']
   which contains
     MIT
     Caltech
     RPI
Univs contains ['Harvard', 'Yale', 'Brown']
   which contains
     Harvard
     Yale
     Brown

### append VS `concatenation(+) or extend`

When we `append` one list to another, e.g., `Techs.append(Ivys`), the `original structure is maintained`. I.e., the result is `a list that contains a list`.

In [60]:
Techs = ['MIT', 'Caltech']
Ivys = ['Harvard', 'Yale', 'Brown']
Techs.append(Ivys)
Techs

['MIT', 'Caltech', ['Harvard', 'Yale', 'Brown']]

Suppose we do not want to maintain this structure, but want to add the elements of one list into another list. We can do that by using list `concatenation` or the `extend` method, e.g.,

* Concatenating lists：+  

* Combining lists： extend

In [54]:
L1 = [1,2,3]
L2 = [4,5,6]

#  +  creates a new list
L3 = L1 + L2 
print('L3= L1 + L2,L3 ', L3)

print('id L1=',id(L1))
print('id L2=',id(L2))
print('a new list:id L3=',id(L3))

# extend : add items in the list L2 to the end of list L
L1.extend(L2) # 1
print('L1.extend(L2) ,L1 =', L1)
print('mutated L1: id L1.extend(L2)=',id(L1))

# append : dd objects e to the end of L1
L1.append(L2) 
print('L1.append(L2), L1 =', L1)
print('mutated L1: id L1.append(L2)=',id(L1))

L3= L1 + L2,L3  [1, 2, 3, 4, 5, 6]
id L1= 2331358067656
id L2= 2331358067336
a new list:id L3= 2331358065288
L1.extend(L2) ,L1 = [1, 2, 3, 4, 5, 6]
mutated L1: id L1.extend(L2)= 2331358067656
L1.append(L2), L1 = [1, 2, 3, 4, 5, 6, [4, 5, 6]]
mutated L1: id L1.append(L2)= 2331358067656

Notice that:

* the operator(concatenation): `+` does not have a side effect. It creates **a new list** and returns it. 


* In contrast,**extend** and **append** each **mutated** L1.

### The List's Methods

The list data type has some more methods. Here are all of the methods of list objects:

https://docs.python.org/tutorial/datastructures.html#more-on-lists


#### `list`function
The `list` function is frequently used in data processing as a way to materialize an iterator or generator expression:

In [4]:
gen = range(10)
gen

range(0, 10)

In [5]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]


![fig54](./img/fig54.PNG) 

Note that: `all of these` except <b style="color:blue">count</b> and <b style="color:blue">index</b> `mutate` the list.

In [33]:
L = [1,2,3,3,1]
L.count(3)

2

In [34]:
L.index(2)

1

####  Adding and removing elements

* append,insert

* pop

`Elements` can be appended to the end of the list with the `append` method:

In [6]:
L = [1,2,3]
L.append(3) 
L

[1, 2, 3, 3]

In [7]:
L = [1,2,3]
L.append([3,4]) 
L

[1, 2, 3, [3, 4]]

Using `insert` you can insert an element at a specific `location` in the list:

In [10]:
L = [1,2,3]
L.insert(1, 'red')
L

[1, 'red', 2, 3]

The insertion index must be between `0 and the length of the list`, inclusive.

The inverse operation to insert is `pop`, which `removes` and returns `an element` at a particular `index`:

In [11]:
L.pop(2)

2

In [12]:
L

[1, 'red', 3]

`Elements` can be `removed` by `value` with **remove**, which locates the `first such value` and removes it from the last:

In [16]:
L=[1, 'red', 2, 3]
L.append('red')
L

[1, 'red', 2, 3, 'red']

In [17]:
L.remove('red')
L

[1, 2, 3, 'red']

Check if a list contains a value using the **in** keyword:

In [18]:
'red' in L

True

The keyword **not** can be used to negate in:

In [19]:
'red' not in L

False

**NOTE** : Checking whether a list contains a value is **a lot slower** than doing so with **dicts and
sets** (to be introduced shortly), as Python makes a linear scan across the values of the
list, whereas it can check the others (based on hash tables) in constant time.

#### combining lists:extend

If you have a list already defined, you can append multiple `elements` to it using the `extend` method:

In [22]:
L = [1,2,3]
L.extend(['3',4]) 
L

[1, 2, 3, '3', 4]

Using `extend` to append `elements` to an `existing` list, especially if you are building up a `large` list, is usually preferable.Thus,

```python
everything = []
for chunk in list_of_lists:
    everything.extend(chunk)
```
is **faster** than the concatenative alternative:
```python
everything = []
for chunk in list_of_lists:
    everything = everything + chunk
```

#### Sorting:sort
You can sort a list `in-place (without creating a new object)` by calling its `sort` function:

In [23]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

`sort` has a few options that will occasionally come in handy. One is the ability to pass a secondary sort **key**—that is, `a function` that produces a value to use to sort the objects.

For example, we could sort a collection of strings by their `lengths`

In [24]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

#### reverse

reverse the order of element in L

In [35]:
L=[1,2,3]
L.reverse()
L

[3, 2, 1]

### Slicing

Recap:
> [Lecture1-2-02_INTRODUCTION_TO_PYTHON: Slicing String](./Lecture1-2-02_INTRODUCTION_TO_PYTHON.ipynb)
>
>**Strings are one of several sequence types in Python** 
>
>**They `share` the following operations with `all sequence` types.**
>
>* **Slicing** is used to extract substrings of arbitrary length. If s is a string, the expression <b>s[start:end] </b> denotes the >substring of s that starts at index start and ends at index <b>end-1</b>.

You can select sections of most sequence types by using slice notation, which in its basic form consists of `start:stop` passed to the indexing operator `[]`:

In [42]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

Slices can also be `assigned` to with a sequence:

In [44]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[3:4]

[7]

In [45]:
seq[3:4] = [6, 3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

the element of seq[3:4] `[7]` is replaces by the  `[6, 3]`

While the element at the `start` index is `included`, the `stop` index is `not included`, so that the number of elements in the result is `stop - start`.

Either `the start or stop can be omitted`, in which case they default to the start of the sequence and the end of the sequence, respectively:

the start is omitted

In [51]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[:5]

[7, 2, 3, 7, 5]

the stop is omitted

In [48]:
seq[3:]

[6, 3, 5, 6, 0, 1]

`Negative` indices slice the sequence `relative to the end`:

In [57]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[-4:]

[5, 6, 0, 1]

In [53]:
seq[-6:-2]

[3, 7, 5, 6]

The Last item

In [56]:
seq[-1:]

[1]

A `step` can also be used after a second colon to, say, take `every other` element:

In [59]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[::2]

[7, 3, 5, 0]

A clever use of this is to pass -1, which has the useful effect of reversing a list or tuple:

In [60]:
seq[::-1]

[1, 0, 6, 5, 7, 3, 2, 7]

### 5.3.1 Cloning

It is usually prudent to <b>avoid mutating a list over which one is iterating</b>. Consider, for example, the code

In [61]:
def removeDups(L1, L2):
    """Assumes that L1 and L2 are lists.
       Removes any element from L1 that also occurs in L2"""
    for e1 in L1:
       
        # display mutation：L1.remove(e1)
        print('Current Item=',e1) 
        print('Current len(L1)=',len(L1))  
       
        print('L1=',L1,'\n')
        
        if e1 in L2:
            L1.remove(e1) # mutation：L1.remove(e1)

L1 = [1,2,3,4]
L2 = [1,2,5,6]

removeDups(L1, L2)
# 1,2
# L1=[3,4]
print('\n removeDups L1 =', L1)

Current Item= 1
Current len(L1)= 4
L1= [1, 2, 3, 4]

Current Item= 3
Current len(L1)= 3
L1= [2, 3, 4]

Current Item= 4
Current len(L1)= 3
L1= [2, 3, 4]


 removeDups L1 = [2, 3, 4]

#### 1 One way to <b>avoid this kind of problem is to use slicing to clone</b> 

     make a copy of the list and write 
     
```python     
     for e1 in L1[:]:
```

In [62]:
def removeDups(L1, L2):
    """Assumes that L1 and L2 are lists.
       Removes any element from L1 that also occurs in L2"""
 
    for e1 in L1[:]: # use slicing to clone
        
        print('Current Item=',e1) 
        print('Current len(L1)=',len(L1))  
       
        print('L1=',L1,'\n')
        
        if e1 in L2:
            L1.remove(e1)

L1 = [1,2,3,4]
L2 = [1,2,5,6]
removeDups(L1, L2)
print('\n removeDups L1 =', L1)

Current Item= 1
Current len(L1)= 4
L1= [1, 2, 3, 4]

Current Item= 2
Current len(L1)= 3
L1= [2, 3, 4]

Current Item= 3
Current len(L1)= 2
L1= [3, 4]

Current Item= 4
Current len(L1)= 2
L1= [3, 4]


 removeDups L1 = [3, 4]

* <b>newL1 = L1</b> merely have introduced <b>a new name for L1</b>

  * Assignment statements in Python do not copy objects, they create bindings between a target and an object.

In [ ]:
#Page 63-64
def removeDups(L1, L2):
    """Assumes that L1 and L2 are lists.
       Removes any element from L1 that also occurs in L2"""
    
    newL1=L1  # Assignment statements in Python do not copy objects, 
              # they create bindings between a target and an object.
    
    for e1 in newL1:
        
        print(len(L1))  # display mutation
        print('L1=',L1)
        
        if e1 in L2:
            L1.remove(e1)

L1 = [1,2,3,4]
L2 = [1,2,5,6]
removeDups(L1, L2)
print('\n removeDups L1 =', L1)

#### 2  The expression <b>list(l)</b> returns a copy of the list l.

In [ ]:
#Page 63-64
def removeDups(L1, L2):
    """Assumes that L1 and L2 are lists.
       Removes any element from L1 that also occurs in L2"""
    
    newL1=list(L1)  # a copy of the list L1
    
    for e1 in newL1:
        
        print(len(L1))  # display mutation
        print('L1=',L1)
        
        if e1 in L2:
            L1.remove(e1)

L1 = [1,2,3,4]
L2 = [1,2,5,6]
removeDups(L1, L2)
print('\n removeDups L1 =', L1)

## Further Reading

<b>1 Python 8.10 copy — Shallow and deep copy operations</b>

https://docs.python.org/3/library/copy.html

For collections that are mutable or contain mutable items, 

a copy is sometimes needed so one can change one copy without changing the other.

This module provides generic shallow and deep copy operations (explained below).

<p>Interface summary:
<ul>
<li>copy.copy(x): Return a shallow copy of x.
<li>copy.deepcopy(x): Return a deep copy of x.
</ul>

* A shallow copy constructs a new compound object and then (to the extent possible) inserts references into it to the objects found in the original.
* A deep copy constructs a new compound object and then, recursively, inserts copies into it of the objects found in the original.

<p><b>2. The Python Standard Library by Example 2.8 copy—Duplicate Objects

In [ ]:
import copy

def removeDups(L1, L2):
    """Assumes that L1 and L2 are lists.
       Removes any element from L1 that also occurs in L2"""
    
    newL1=copy.deepcopy(L1)  # a copy of the list L1
    
    for e1 in newL1:
        
        print(len(L1))  # display mutation
        print('L1=',L1)
        
        if e1 in L2:
            L1.remove(e1)

L1 = [1,2,3,4]
L2 = [1,2,5,6]
removeDups(L1, L2)
print('\n removeDups L1 =', L1)

## <b style="color:blue">Cloning Methods<b>

* slicing：L1[:]
* List(L1)
* copy.copy(L1),copy.deepcopy(L1)

### 5.3.2 List Comprehension

List comprehension provides a concise way to apply an operation to the values in a sequence.

It creates a new list in which each element is the result of applying a given operation to a value from a sequence

In [ ]:
L = [x**2 for x in range(1,7)]
print(L)

In [ ]:
L =[]
for x in range(1,7):
    L.append(x**2)
print(L)

The `for` clause in a list comprehension can be <b>followed</b> by one or more 

* <b>if </b> statements 

* <b>for</b> statements 

that are applied to the values produced by the `for` clause.

* `if` statements

In [ ]:
mixed = [1, 2, 'a', 3, 4.0]
print([x**2 for x in mixed if type(x) == int])

* `for` statements

In [ ]:
print([x*y for x in [1,2,3] for y in  [1,2,3]])

#### Further Reading：Python Tutorial

* 5.1.3 List Comprehensions https://docs.python.org/3/tutorial/datastructures.html#list-comprehensions

* 5.1.4 Nested List Comprehensions https://docs.python.org/3/tutorial/datastructures.html#nested-list-comprehensions

Remember that somebody else may need to read your code

* **subtle** is not usually a desirable property

## 5.4 Functions as Objects

In Python, functions are **first-class objects**.That means that they can be treated `like objects of any other type`, e.g., int or list. They have types, e.g.,

In [67]:
type(abs)

builtin_function_or_method

In [68]:
type(removeDups)

function

they can appear in expressions, e.g., as the right-hand side of an assignment statement or as an argument to a function;they can be elements of lists; etc.

Using `functions as arguments` allows a style of coding called **higher-order programming**. It can be particularly convenient in conjunction with lists, as shown in

In [65]:
%%file functionsCh4.py

def factI(n):
    """Assumes that n is an int > 0
      Returns n!"""
    result = 1
    while n > 1:
        result = result * n
        n -= 1
    return result
   
def factR(n):
    """Assumes that n is an int > 0
      Returns n!"""
    if n == 1:
        return n
    else:
        return n*factR(n - 1)

def fib(n):
    """Assumes n an int >= 0
       Returns Fibonacci of n"""
    if n == 0 or n == 1:
        return 1
    else:
        return fib(n-1) + fib(n-2)

Writing functionsCh4.py

In [66]:
from functionsCh4 import *

def applyToEach(L, func):
    """Assumes L is a list, func a function
       Mutates L by replacing each element, e, of L by f(e)"""
    for i in range(len(L)):
        L[i] = func(L[i])
      
L = [1, -2, 3.33]
print('L =', L)
print('\nApply abs to each element of L.')

applyToEach(L, abs)

print('L =', L)

print('\nApply int to each element of', L)

applyToEach(L, int)

print('L =', L)

print('\nApply factorial to each element of', L)
#  functionsCh4.py
applyToEach(L, factR)

print('L =', L)

print('\nApply Fibonnaci to each element of', L)
# functionsCh4.py
applyToEach(L, fib)

print('L =', L)

L = [1, -2, 3.33]

Apply abs to each element of L.
L = [1, 2, 3.33]

Apply int to each element of [1, 2, 3.33]
L = [1, 2, 3]

Apply factorial to each element of [1, 2, 3]
L = [1, 2, 6]

Apply Fibonnaci to each element of [1, 2, 6]
L = [1, 2, 13]

The function `applyToEach` is called `higher-order` because it has an `argument` that is itself `a function`

## map: a built-in higher-order function in Python

* the <b>simplest form</b> ：

  * the first argument to `map` is <b>a unary function</b>, a function that has only <b>one parameter</b> 
  * the second argument is any ordered collection of values  suitable as arguments to the first argument.

In [70]:
for i in map(fib, [2, 6, 4]):
    print(i)

2
13
5

In [69]:
list(map(factR, [1, 2, 3]))

[1, 2, 6]

In [72]:
l=[]
for i in [1,2,3]:
    l.append(factR(i))
l

[1, 2, 6]

* **More generally** 

  * the first argument to `map` can be of <b>function of n arguments</b>, in which case it must be followed by <b>n subsequent ordered collections</b>

In [ ]:
help(min)

In [71]:
#Page 64
L1 = [1, 28, 36]
L2 = [2, 57, 9]

print(list(map(min, L1, L2)))  # min

[1, 28, 9]

In [ ]:
L1 = [1, 28, 36]
L2 = [2, 57, 9]
lmin=[]
for i in range(3):
    lmin.append(min(L1[i],L2[i]))
print(lmin)

#### lambda

Python supports the creation of `anonymous` functions (i.e., functions that are not bound to a name), using the reserved word **lambda**. 

The general form of a lambda expression is
```python
lambda <sequence of variable names>: <expression>
```
For example, the lambda expression `lambda x, y: x*y` returns a function that returns  the product of its two arguments.

In [74]:
adder = lambda x, y: x+y
print(adder(3,6))

9

 Lambda expressions are frequently used as arguments to higher-order functions. For example, the code

In [75]:
L = []
for i in map(lambda x, y: x**y, [1 ,2 ,3, 4], [3, 2, 1, 0]):
    L.append(i)
print(L)

[1, 4, 3, 1]

#### Further Reading

* The Python Standard Library: Built-in Functions `map`: https://docs.python.org/3/library/functions.html#map

* The Python Language Reference ：6.13 `Lambdas` https://docs.python.org/3/reference/expressions.html#lambda

## 5.5 Strings, Tuples, Ranges, and Lists

We have looked at four different sequence types: `str, tuple, range, and list`. 

They are similar in that objects of of these types can be operated upon as described in the Figure
<img src="./img/fig56.PNG"/>

Some of their other similarities and differences are summarized in the Figure

![fig57](./img/fig57.PNG)

Python programmers tend to use <b style="color:blue">lists</b> far more <b style="color:blue">often</b> than <b style="color:blue">tuples</b>. 

Since `lists` are **mutable**, they can be **constructed incrementally** during a computation.For example, the following code incrementally builds a list containing all of the `even` numbers in another list.

In [61]:
L=[1, -2, 3.33,4]
evenElems = []
for e in L:
    if e%2 == 0:
        evenElems.append(e)
        
print(evenElems)

[-2, 4]

## Built-in Methods of strings

Since strings can contain only characters, there are <b>many built-in methods</b> that make life easy

Keep in mind that since strings are immutable these all return values and have no side effect.
<p>
<img src="./img/fig58.PNG"/>

In [ ]:
s='David Guttag plays basketball David'
s.find('David')

In [ ]:
s.rfind('David')

In [ ]:
s="David Guttag plays basketball     "  # trailing whitespace space
s.rstrip()

###  split

One of the more useful built-in methods is `split`, which takes two strings as arguments. The second argument specifies a separator that is used to split the first argument into a sequence of substrings. For example,

* s.split(d): Splits `s` using `d` as a delimiter

In [2]:
print('My favorite professor--John G.--rocks'.split(' '))
print('My favorite professor--John G.--rocks'.split('-'))
print('My favorite professor--John G.--rocks'.split('--'))

['My', 'favorite', 'professor--John', 'G.--rocks']
['My favorite professor', '', 'John G.', '', 'rocks']
['My favorite professor', 'John G.', 'rocks']

In [ ]:
s='David*Guttag*plays*basketball'
s.split('*')

In [ ]:
s

####  whitespace  characters:

The second argument is optional. If that argument is omitted the first string is split using arbitrary strings of whitespace characters (space, tab, newline, return, and formfeed).

If `d` is omitted,
```python
s.split()
```
the substrings are seperated by  whitespace  characters:

|space| tab |newline | return |formfeed|
|:---:|----:|-------:|-------:|------:|
|  space    |  \t |  \n  | \r    |  \f  |

In [ ]:
s='David\t Guttag \n plays\r basketball\f whitespace characters '
s.split()

In [ ]:
print(s)

#### s.split(d) to read plain text files:

* Data Table,Dict and List

* [Lecture5-1-18_UNDERSTANDING_EXPERIMENTAL_DATA](./Lecture5-1-18_UNDERSTANDING_EXPERIMENTAL_DATA.ipynb)

## 5.6 Dictionaries

Objects of type `dict` (short for dictionary) are like lists except that we `index them using keys`.For example, the code,

In [81]:
monthNumbers = {'Jan':1, 'Feb':2, 'Mar':3, 'Apr':4, 'May':5,
                 1:'Jan', 2:'Feb', 3:'Mar', 4:'Apr', 5:'May'}
  
# The entries in a dict are unordered and cannot be accessed with an index
# get value from key

print('The Mar is the', format(monthNumbers['Mar']),'month \n')

print('The third month is ' + monthNumbers[3],'\n')  

dist = monthNumbers['Apr'] - monthNumbers['Jan'] 
print('Apr and Jan are', dist, 'months apart')

The Mar is the 3 month

The third month is Mar

Apr and Jan are 3 months apart

Think of a dictionary as a set of <b>key：value</b> pairs.
```python
'Jan':1
1:'Jan'
```
Literals of type dict are enclosed in  <b style="color:blue">curly braces  {}  </b>, 

and each element is written as a key followed by <b style="color:blue">a colon :</b> followed by a value.

<b style="color:blue">Keys</b> can be values of <b>any immutable type</b>.

The **entries** in a dict are <b>unordered</b> and `cannot` be accessed with an `index`.That’s why `monthNumbers[1]` unambiguously refers to the entry with the **key 1** rather than the second entry

the entry with the **key 1**: `1:'Jan'`

In [82]:
monthNumbers = {'Jan':1, 'Feb':2, 'Mar':3, 'Apr':4, 'May':5,
                 1:'Jan', 2:'Feb', 3:'Mar', 4:'Apr', 5:'May'}

In [80]:
monthNumbers[1]

'Jan'

Like lists, **dictionaries are mutable**.

#### add an entry to a dictionary 

We can add an entry by writing

```python
monthNumbers['June'] = 6
```
**add elements(key:value)** to a dictionary by **assigning a value `6`to an unused key `'June'`('June':)**

In [83]:
monthNumbers['June'] = 6

In [84]:
monthNumbers

{'Jan': 1,
 'Feb': 2,
 'Mar': 3,
 'Apr': 4,
 'May': 5,
 1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 'June': 6}

####  `change` an entry by writing

In [85]:
monthNumbers['May'] = 'V'
monthNumbers

{'Jan': 1,
 'Feb': 2,
 'Mar': 3,
 'Apr': 4,
 'May': 'V',
 1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 'June': 6}

### Dictionaries are one of  <b style="color:blue">the great things</b> about Python. 


### They  <b style="color:blue">greatly reduce </b> the difficulty of writing a variety of programs.

>Most programming languages do not contain a built-in type that provides a mapping from **keys** to **values**.

For example, we use dictionaries to write a (pretty horrible) program to `translate between languages`.

**NOTE**: There is a error in MIT Book

In [86]:
# English -> France
EtoF = {'bread':'pain', 'wine':'vin', 'with':'avec', 'I':'Je',
        'eat':'mange', 'drink':'bois', 'John':'Jean',
        'friends':'amis', 'and': 'et', 'of':'du','red':'rouge'}
#  France->English
FtoE = {'pain':'bread', 'vin':'wine', 'avec':'with', 'Je':'I',
        'mange':'eat', 'bois':'drink', 'Jean':'John',
        'amis':'friends', 'et':'and', 'du':'of', 'rouge':'red'}

dicts = {'English to French':EtoF, 'French to English':FtoE}

def translateWord(word, dictionary):
    if word in list(dictionary.keys()):
        return dictionary[word]
    elif word != '':
        return '"' + word + '"'
    return word
    
def translate(phrase, dicts, direction):
    UCLetters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    LCLetters = 'abcdefghijklmnopqrstuvwxyz'
    letters = UCLetters + LCLetters
    
    dictionary = dicts[direction]
    
    translation = ''
    word = ''
    
    for c in phrase:
        if c in letters:
            word = word + c
        else:
            translation = (translation
                          + translateWord(word, dictionary) + c)
            word = ''
    return translation + ' ' + translateWord(word, dictionary)

print(translate('I drink good red wine, and eat bread.',
                dicts,'English to French'))

print(translate('Je bois du vin rouge.',
                dicts, 'French to English'))

Je bois "good" rouge vin, et mange pain.
I drink of wine red.

## Remember that dictionaries are  <font color="blue">mutable.</font>

So one must be careful about side effects. For example

In [87]:
FtoE['bois'] = 'drink'  
print(translate('Je bois du vin rouge.', dicts, 'French to English'))

I drink of wine red.

In [88]:
FtoE['bois'] = 'wood' 
print(translate('Je bois du vin rouge.', dicts, 'French to English'))

I wood of wine red.

In [89]:
FtoE['bois'] = 'drink'  
print(translate('Je bois du vin rouge.', dicts, 'French to English'))

I drink of wine red.

`for` statement can be used to **iterate** over the entries in `a dictionary`. 

```python
for <item> in <a dictionary>
```

However, the `value` assigned to the iteration variable is a `key`, not a `key/value` pair. The order in which the keys are seen in the iteration is not defined. For example, the code

In [93]:
monthNumbers = {'Jan':1, 'Feb':2, 'Mar':3, 'Apr':4, 'May':5,
                1:'Jan', 2:'Feb', 3:'Mar', 4:'Apr', 5:'May'}
keys = []
for e in monthNumbers:
    keys.append(e) # the value s a key， not a key/value pair.
print(keys)
# There is a error in MIT book
type(keys)

['Jan', 'Feb', 'Mar', 'Apr', 'May', 1, 2, 3, 4, 5]

list

#### keys

The method  **keys** returns an object of type `dict_keys`. This is an example of **a view object**. The order in which the keys appear in the view is not defined. A view object is `dynamic` in that if the object with which it is associated changes, the change is visible through the view object. For example,

In [96]:
birthStones = {'Jan':'Garnet', 'Feb':'Amethyst', 'Mar':'Acquamarine',
                'Apr':'Diamond', 'May':'Emerald'}
months=birthStones.keys() # The order in which the keys appear is not defined.
print(months)

dict_keys(['Jan', 'Feb', 'Mar', 'Apr', 'May'])

In [97]:
birthStones['June'] = 'Pearl'
print(months)

dict_keys(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June'])

Objects of type `dict_keys` can be iterated over using *for*, and `membership` can be `tested` using *in*. 

An object of type `dict_keys` can easily be converted into a `list`, e.g.,`list(months)`.

In [98]:
list(months)

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June']

Not all types of of objects can be used as keys: A **key** must be an object of a `hashable` type. A type is hashable if it has

* A `__hash__` method that maps an object of the type to an int, and for every object the value returned by `__hash__` does not change during the lifetime of the object,and

* An `__eq__` method that is used to compare objects for equality.

All of Python’s built-in **immutable** types are **hashable**, and none of Python’s built-in mutable types are hashable.

* <b style="color:blue">Keys</b> can be values of <b>any immutable type</b>.

It is often convenient to use `tuples as keys`. Imagine, for example, using a tuple of the form `(flightNumber, day)` to represent airline flights. It would then be easy to use such tuples as keys in a dictionary implementing a mapping from flights to arrival times

* **Tuples** are immutable,<b style="color:blue">aliasing is never a worry</b>.can be used as **keys** in dictionaries.

In [99]:
# tuple
Airline_Flight1=('C1208','2013-05-21')
Airline_Flight2=('C1230','2013-05-22')
 
# tuple as dictionary keys.
Arrival_Times={Airline_Flight1:'2013-05-21 09:50:35',Airline_Flight2:'2013-05-21 10:50:35'}


Airline_Flight1_Arrival_Time=Arrival_Times[Airline_Flight1]
print('Airline_Flight1_Arrival_Time:',Airline_Flight1_Arrival_Time,'\n')

Airline_Flight2_Arrival_Time=Arrival_Times[Airline_Flight2]
print('Airline_Flight2_Arrival_Time:',Airline_Flight2_Arrival_Time)

Airline_Flight1_Arrival_Time: 2013-05-21 09:50:35

Airline_Flight2_Arrival_Time: 2013-05-21 10:50:35

### The methods associated with dictionaries,

As with lists, there are many useful methods associated with dictionaries, including some for removing elements. We do not enumerate all of them here, but will use them as convenient in examples later in the book. The Figure contains some of the more useful operations on  ictionaries

![fig510](./img/fig510.jpg)

#### delete values: del & pop
You can delete values either using the `del` keyword or the `pop` method (which simultaneously `returns the value` and deletes the key):

In [113]:
birthStones = {'Jan':'Garnet', 'Feb':'Amethyst', 'Mar':'Acquamarine',
                'Apr':'Diamond', 'May':'Emerald'}
del birthStones['Jan']
birthStones

{'Feb': 'Amethyst', 'Mar': 'Acquamarine', 'Apr': 'Diamond', 'May': 'Emerald'}

 `pop` method deletes the key  and  returns the value simultaneously:

In [121]:
birthStones = {'Jan':'Garnet', 'Feb':'Amethyst', 'Mar':'Acquamarine',
                'Apr':'Diamond', 'May':'Emerald'}
ret = birthStones.pop('Apr')
ret

'Diamond'

In [117]:
birthStones

{'Jan': 'Garnet', 'Feb': 'Amethyst', 'Mar': 'Acquamarine', 'May': 'Emerald'}

#### merge dict : update

You can **merge** one dict into another using the `update` method:

In [123]:
birthStones.update({'Jan' : 'GARNETs', 'Ddd' :'Ddd'})
birthStones

{'Jan': 'GARNETs',
 'Feb': 'Amethyst',
 'Mar': 'Acquamarine',
 'May': 'Emerald',
 'Ddd': 'Ddd'}

The `update` method changes dicts `in-place`, so any `existing keys` in the data passed to `update` will have their `old` values `discarded.`

### Dictionary view objects

The objects returned by 
  
* dict.keys()

        
* dict.values() 
    
    
* dict.items()
  
are view objects.
  
They provide a dynamic view on the dictionary’s entries, which means that when the dictionary changes, the view reflects these changes.

#### dict.keys() and dict.values()

In [107]:
dishes = {'eggs': 2, 'sausage': 1, 'bacon': 1, 'spam': 500}
keys = dishes.keys()
values = dishes.values()

In [108]:
# iteration
n = 0
for val in values:
    n += val
print(n)

504

In [109]:
# keys and values are iterated over in the same order
list(keys)

['eggs', 'sausage', 'bacon', 'spam']

In [110]:
list(values)

[2, 1, 1, 500]

##### view objects are dynamic and reflect dict changes

In [15]:
# view objects are dynamic and reflect dict changes
del dishes['eggs']
del dishes['sausage']
list(keys)

['bacon', 'spam']

In [16]:
n = 0
for val in values:
    n += val
print(n)

501

In [28]:
dishes = {'eggs': 2, 'sausage': 1, 'bacon': 1, 'spam': 500}

for key in dishes:
    print(key)
    print(key, dishes[key])
for key in dishes.keys():
    print(key)
    print(key, dishes[key])
    
for value in dishes.values():
    print(value)

for d in dishes.items():
    print(d)  
for (key,value) in dishes.items():
    print(key,value)

eggs
eggs 2
sausage
sausage 1
bacon
bacon 1
spam
spam 500
eggs
eggs 2
sausage
sausage 1
bacon
bacon 1
spam
spam 500
2
1
1
500
('eggs', 2)
('sausage', 1)
('bacon', 1)
('spam', 500)
eggs 2
sausage 1
bacon 1
spam 500

#### dict.items()

**dict.items()**: Return a new view of the dictionary’s items `(key, value)` pairs  in **tuple** 

If you want to get <strong style="color:blue">key:value</strong> pair:

In [132]:
monthNumbers = {'Jan':1, 'Feb':2, 'Mar':3, 'Apr':4, 'May':5,
                1:'Jan', 2:'Feb', 3:'Mar', 4:'Apr', 5:'May'}
pairs = []
for (key,value) in monthNumbers.items():
    pairs.append((key,value)) 

print('(key,value) in monthNumbers.items():')
print(pairs)
print(pairs[0])
print(pairs[0][0],pairs[0][1])

# also
pairs = []
for keyvalue in monthNumbers.items():
    pairs.append(keyvalue)
print('\nkeyvalue in monthNumbers.items():')    
print(pairs)
print(pairs[0])
print(pairs[0][0],pairs[0][1])

(key,value) in monthNumbers.items():
[('Jan', 1), ('Feb', 2), ('Mar', 3), ('Apr', 4), ('May', 5), (1, 'Jan'), (2, 'Feb'), (3, 'Mar'), (4, 'Apr'), (5, 'May')]
('Jan', 1)
Jan 1

keyvalue in monthNumbers.items():
[('Jan', 1), ('Feb', 2), ('Mar', 3), ('Apr', 4), ('May', 5), (1, 'Jan'), (2, 'Feb'), (3, 'Mar'), (4, 'Apr'), (5, 'May')]
('Jan', 1)
Jan 1

###   Table Data, Dictionary and List

|name      |  age   |   city|
|---------:|------:|-------:|
|zhangsan  |  28    |  nanjing|

```python
data table  -> dict
     colmun -> key(string)
       row  -> value(list)
```
In the concept of Relation Database

```python
data table  -> Relation Database's Table
     colmun -> field
       row  -> record
```

##### Creating data table dicts from sequences

```
dict {field1:[],field2:[]....}
```
data table is dict

In [169]:
fields=['name','age','city']
rows=[['Zhangsan',28,'Nanjing'],['Lishi',18,'Beijing']]
datatable={}

# 1 create the dict of  data table
for key in fields:
    datatable[key] = []
print(datatable)  

# 2 set the value list of key
for r in rows:
    for i in range(len(fields)):
        datatable[fields[i]].append(r[i])
print(datatable)

print("\n",fields)
for r in range(len(rows)):
    currow=[]
    for i in range(len(fields)):
        currow.append(datatable[fields[i]][r])
    print(currow)

{'name': [], 'age': [], 'city': []}
{'name': ['Zhangsan', 'Lishi'], 'age': [28, 18], 'city': ['Nanjing', 'Beijing']}

 ['name', 'age', 'city']
['Zhangsan', 28, 'Nanjing']
['Lishi', 18, 'Beijing']

##### Creating dicts from the file of table data

dict {field1:[],field2:[]....}

datatable is a dict

In [170]:
%%file ./data/personrecords.txt
name        age
zhangsan    28
lishi       18

Overwriting ./data/personrecords.txt

In [175]:
fields=[]
datatable={}

personrecords=open('./data/personrecords.txt','r')

# 1 get string of field(column)
fields=personrecords.readline().split()
print(fields)

# 2 create the dict of  data table
for key in fields:
    datatable[key] = []
print("dict for datatable:{field1:[],field2:[]....}")
print(datatable)

# 2 read each record into the value list of key 
for line in personrecords:
    currowrecord=line.split()
    for i in range(len(fields)):
         datatable[fields[i]].append(currowrecord[i])

personrecords.close()

print(datatable)

recordCount=len(datatable[fields[0]])
print("\n",fields)
for r in range(recordCount):
    currow=[]
    for i in range(len(fields)):
        currow.append(datatable[fields[i]][r])
    print(currow)

['name', 'age']
dict for datatable:{field1:[],field2:[]....}
{'name': [], 'age': []}
{'name': ['zhangsan', 'lishi'], 'age': ['28', '18']}

 ['name', 'age']
['zhangsan', '28']
['lishi', '18']

#### Creating dicts from the file of table data

add field city to the table file

```python
list[dict]: [{field1:value,field2:value,*:*},{field1:value,field2:value,*.*},...]
```
data table is a list, each row is dict

In [136]:
%%file ./data/personrecords.txt
name        age      city
zhangsan    28      nanjing
lishi       18      shanghai

Overwriting ./data/personrecords.txt

In [196]:
records=[]
fields=[]

datatable=[] 

personrecordsfile=open('./data/personrecords.txt','r')

# 1 get string of field(column)
fields=personrecordsfile.readline().split()
print(fields)

# 2 read each record into dict：key is field string
for line in personrecordsfile:
    currowrecord=line.split()
    # 2.1 init dict
    rowrecord={}
    for i in range(len(fields)):
        # 2.2 add key:value to dict
        rowrecord[fields[i]]=currowrecord[i]
    # 2.3 add dict to list:records
    datatable.append(rowrecord)

personrecordsfile.close()

for item in datatable:
    print(item)
    
for item in datatable:
    print(item['name'])

['name', 'age']
{'name': 'zhangsan', 'age': '28'}
{'name': 'lishi', 'age': '18'}
zhangsan
lishi

### csv.DictReader

The csv module implements classes to read and write tabular data in CSV format.

https://docs.python.org/3.7/library/csv.html

In [189]:
%%file ./data/personrecords.csv
name,age
zhangsan,28
lishi,18

Overwriting ./data/personrecords.csv

In [190]:
import  csv
filename="./data/personrecords.csv"
csvfile = open(filename, 'r')
reader = csv.DictReader(csvfile)
for line in reader:
    name = line['name']
    age=line['age']
    print(name,age)

zhangsan 28
lishi 18

##### our DictReader

In [192]:
def ourDictReader(file):
    records=[]
    fields=file.readline()[:-1].split(',')
    print(fields)

    for line in file:
        currowrecord=line.split(',')
        rowrecord={}
        for i in range(len(fields)):
            rowrecord[fields[i]]=currowrecord[i]
        records.append(rowrecord)
    return records

filerecords=open('./data/personrecords.csv','r')
reader=ourDictReader(filerecords)
for line in reader:
    print(line)
    print(line['name'],line['age'])

filerecords.close()

['name', 'age']
{'name': 'zhangsan', 'age': '28\n'}
zhangsan 28

{'name': 'lishi', 'age': '18 \n'}
lishi 18

---

### Further Reading: Built-in Sequence Functions

Python has a handful of useful sequence functions that you should familiarize yourself with and use at any opportunity.

##### enumerate
It’s common when iterating over a sequence to want to keep track of the index of the
current item. A do-it-yourself approach would look like:
```python
i = 0
for value in collection:
    # do something with value
    i += 1
```
Since this is so common, Python has a built-in function, `enumerate`, which returns a sequence of `(i, value)` tuples:
```python
for i, value in enumerate(collection):
    # do something with value
```
When you are indexing data, a helpful pattern that uses` enumerate` is computing a `dict` mapping the values of a sequence (which are assumed to be unique) to their locations in the sequence:

In [66]:
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list):
    mapping[v] = i
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

#### sorted

The `sorted` function returns a **new** sorted list from the elements of any sequence:

In [67]:
 sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [68]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

The `sorted` function accepts the same arguments as the sort method on lists.

#### zip

`zip` “**pairs**” up the elements of a number of lists, tuples, or other sequences to create **a list of `tuples`**:

In [70]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

`zip` can take an `arbitrary number` of sequences, and the number of elements it produces is determined by the `shortest` sequenc

In [72]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

A very common use of `zip` is `simultaneously iterating over multiple` sequences, possibly also combined with `enumerate`:

In [73]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

Given a “zipped” sequence, `zip` can be applied in a clever way to “unzip” the sequence. Another way to think about this is converting a list of `rows` into a list of `columns`. The syntax, which looks a bit magical, is:

List rows: ('Nolan', 'Ryan'), ('Roger', 'Clemens'),('Schilling', 'Curt')


List columns:

 | first_names | last_names  |
 | ----------- |:-----------:|
 | Nolan       |   Ryan      |
 |  Roger      |  Clemens    | 
 |Schilling    |  Curt       ||``

In [74]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)
first_names

('Nolan', 'Roger', 'Schilling')

In [75]:
last_names

('Ryan', 'Clemens', 'Curt')

#### reversed

reversed iterates over the elements of a sequence in reverse order:

In [76]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

Keep in mind that `reversed` is **a generator**,so it does `not create` the reversed sequence until materialized (e.g., with list or a for loop)

## Further Reading

* Python Library: 4.10 Mapping Types — dict
    
  * https://docs.python.org/dev/library/stdtypes.html#mapping-types-dict
  
  * A mapping object maps hashable values to arbitrary objects. Mappings are mutable objects. There is currently
only one standard mapping type, the dictionary

## Key Points:

* Tuple，range, list，dict

* **dict**: the most common data type of key is **string** 

* **Mutaing**:list,dict

* **Cloning**: aliasing

* Higher-order function